<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwiftTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCA43AE11E0CF95D00C1A162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA43AF51E0CF95D00C1A162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA43B001E0CF95D00C1A162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
